Repository jordyob03/TripTailor, pull requests merged in 2024-11, with the labels that each got.

#35 Tt 88 mdp pack db on init
  backend/services/itinerary-service/Dockerfile
  backend/services/main-service/Dockerfile
  backend/services/main-service/api/empty.txt
  backend/services/main-service/cmd/main.go
  backend/services/main-service/utils/db_packing_util.go
  backend/services/main-service/utils/packed_data/boards.json
  backend/services/main-service/utils/packed_data/comments.json
  backend/services/main-service/utils/packed_data/events.json
  backend/services/main-service/utils/packed_data/images/1.jpg
  backend/services/main-service/utils/packed_data/images/2.jpg
  backend/services/main-service/utils/packed_data/images/3.jpg
  backend/services/main-service/utils/packed_data/images/3.png
  backend/services/main-service/utils/packed_data/itineraries.json
  backend/services/main-service/utils/packed_data/users.json
  docker-compose.yml
  frontend/package.json
  package-lock.json
Labels: backend, database

#39 Database Array + Itinerary Cost Fix
  backend/services/itinerary-service/internal/db/board-db.go
  backend/services/itinerary-service/internal/db/events-db.go
  backend/services/itinerary-service/internal/db/images-db.go
  backend/services/itinerary-service/internal/db/post-db.go
  backend/services/itinerary-service/internal/db/user-db.go
  backend/services/itinerary-service/internal/models/board-db.go
  backend/services/itinerary-service/internal/models/events-db.go
  backend/services/itinerary-service/internal/models/images-db.go
  backend/services/itinerary-service/internal/models/itinerary-db.go
  backend/services/itinerary-service/internal/models/post-db.go
  backend/services/itinerary-service/internal/models/user-db.go
  backend/services/main-service/go.mod
  backend/services/main-service/go.sum
  backend/services/main-service/internal/db/models/board-db.go
  backend/services/main-service/internal/db/models/events-db.go
  backend/services/main-service/internal/db/models/images-db.go
  backend/services/main-service/internal/db/models/post-db.go
  backend/services/main-service/internal/db/models/user-db.go
  backend/services/profile-service/internal/db/board-db.go
  backend/services/profile-service/internal/db/events-db.go
  backend/services/profile-service/internal/db/images-db.go
  backend/services/profile-service/internal/db/post-db.go
  backend/services/profile-service/internal/db/user-db.go
  backend/services/save-service/internal/db/board-db.go
  backend/services/save-service/internal/db/events-db.go
  backend/services/save-service/internal/db/images-db.go
  backend/services/save-service/internal/db/post-db.go
  backend/services/save-service/internal/db/user-db.go
  backend/services/save-service/internal/models/board-db.go
  backend/services/save-service/internal/models/events-db.go
  backend/services/save-service/internal/models/images-db.go
  backend/services/save-service/internal/models/post-db.go
  backend/services/save-service/internal/models/user-db.go
  backend/services/search-service/internal/models/board-db.go
  backend/services/search-service/internal/models/events-db.go
  backend/services/search-service/internal/models/images-db.go
  backend/services/search-service/internal/models/itinerary-db.go
  backend/services/search-service/internal/models/post-db.go
Labels: database

#41 Fixed Itinerary Image Display
  backend/services/main-service/utils/packed_data/boards.json
  backend/services/main-service/utils/packed_data/events.json
  backend/services/main-service/utils/packed_data/images/56.png
  backend/services/main-service/utils/packed_data/images/57.png
  backend/services/main-service/utils/packed_data/images/58.png
  backend/services/main-service/utils/packed_data/images/59.png
  backend/services/main-service/utils/packed_data/images/60.png
  backend/services/main-service/utils/packed_data/images/61.png
  backend/services/main-service/utils/packed_data/images/62.png
  backend/services/main-service/utils/packed_data/images/63.png
  backend/services/main-service/utils/packed_data/itineraries.json
  backend/services/main-service/utils/packed_data/users.json
  frontend/src/pages/UserItineraries.js
Labels: frontend

#51 Save Service Endpoint Implementation
  backend/services/main-service/utils/packed_data/events.json
  backend/services/main-service/utils/packed_data/itineraries.json
  backend/services/save-service/api/routes.go
  backend/services/save-service/internal/handlers/AddBoard.go
  backend/services/save-service/internal/handlers/AddBoardPost.go
  backend/services/save-service/internal/handlers/EditBoard.go
  frontend/src/components/ItineraryGrid.js
  frontend/src/pages/BoardPosts.js
Labels: frontend, backend

#48 Languages are now added to itineraries and packing files are updated
  backend/services/itinerary-service/internal/handlers/CreateItin.go
Labels: backend

#43 Tt 78 at image saving
  backend/services/itinerary-service/internal/handlers/CreateItin.go
  frontend/src/pages/CreateItinerary.js
  frontend/src/utils/empty.txt
  frontend/src/utils/imageHandler.js
Labels: frontend, backend

#44 TT-80-njrc-Update-Backend-Profile-Backend
  backend/services/profile-service/api/routes.go
  backend/services/profile-service/internal/db/user-db.go
  backend/services/profile-service/internal/handlers/Create_Profile.go
  backend/services/profile-service/internal/handlers/Get_Profile.go
  backend/services/profile-service/internal/handlers/Update_Profile.go
  frontend/src/pages/EditUserProfile.js
Labels: bug

#54 Tt 93 Itinerary page
  backend/services/main-service/cmd/main.go
  backend/services/main-service/utils/packed_data/events.json
  backend/services/main-service/utils/packed_data/images/100.png
  backend/services/main-service/utils/packed_data/images/101.png
  backend/services/main-service/utils/packed_data/images/102.png
  backend/services/main-service/utils/packed_data/images/103.png
  backend/services/main-service/utils/packed_data/images/104.png
  backend/services/main-service/utils/packed_data/images/105.png
  backend/services/main-service/utils/packed_data/images/106.png
  backend/services/main-service/utils/packed_data/images/107.png
  backend/services/main-service/utils/packed_data/images/108.png
  backend/services/main-service/utils/packed_data/images/109.png
  backend/services/main-service/utils/packed_data/images/110.png
  backend/services/main-service/utils/packed_data/images/111.png
  backend/services/main-service/utils/packed_data/images/112.png
  backend/services/main-service/utils/packed_data/images/113.png
  backend/services/main-service/utils/packed_data/images/114.png
  backend/services/main-service/utils/packed_data/images/115.png
  backend/services/main-service/utils/packed_data/images/116.png
  backend/services/main-service/utils/packed_data/images/117.png
  backend/services/main-service/utils/packed_data/images/118.png
  backend/services/main-service/utils/packed_data/images/119.png
  backend/services/main-service/utils/packed_data/images/120.png
  backend/services/main-service/utils/packed_data/images/121.png
  backend/services/main-service/utils/packed_data/images/122.png
  backend/services/main-service/utils/packed_data/images/123.png
  backend/services/main-service/utils/packed_data/images/124.png
  backend/services/main-service/utils/packed_data/images/125.png
  backend/services/main-service/utils/packed_data/images/126.png
  backend/services/main-service/utils/packed_data/images/127.png
  backend/services/main-service/utils/packed_data/images/128.png
  backend/services/main-service/utils/packed_data/images/129.png
  backend/services/main-service/utils/packed_data/images/130.png
  backend/services/main-service/utils/packed_data/images/91.png
  backend/services/main-service/utils/packed_data/images/92.png
  backend/services/main-service/utils/packed_data/images/93.png
  backend/services/main-service/utils/packed_data/images/94.png
  backend/services/main-service/utils/packed_data/images/95.png
  backend/services/main-service/utils/packed_data/images/96.png
  backend/services/main-service/utils/packed_data/images/97.png
  backend/services/main-service/utils/packed_data/images/98.png
  backend/services/main-service/utils/packed_data/images/99.png
  backend/services/main-service/utils/packed_data/itineraries.json
  frontend/src/App.js
  frontend/src/components/ItineraryGrid.js
  frontend/src/components/Navbar.js
  frontend/src/pages/BoardPosts.js
  frontend/src/pages/Homepage.js
  frontend/src/pages/ItineraryDetails.js
  frontend/src/pages/UserBoards.js
  frontend/src/styles/styles.css
Labels: frontend

#56 Fix Search Service Bug
  backend/services/search-service/internal/db/itinerary_repository.go
Labels: bug, documentation, duplicate, enhancement, help wanted, good first issue, invalid, question, wontfix, frontend, backend, database, CI/CD

#57 Last PR :(
  README.md
Labels: documentation
