Repository jordyob03/TripTailor, pull requests merged in 2024-10, with the labels that each got.

#9 Addition of new columns in User Table
  backend/Dockerfile
  backend/db/Dockerfile
  backend/db/models/user-db.go
  backend/db/tests/testing-db.go
  backend/main-service/cmd/main.go
Labels: database

#11 Lg add structs
  backend/itinerary-service/api/empty.txt
  backend/itinerary-service/cmd/empty.txt
  backend/itinerary-service/internal/empty.txt
  backend/itinerary-service/internal/models/event.go
  backend/itinerary-service/internal/models/itinerary.go
Labels: backend, database

#12 Created the auth service, signin and signup feature, added PGAdmin
  .gitignore
  backend/auth-service/api/empty.txt
  backend/auth-service/api/routes.go
  backend/auth-service/cmd/empty.txt
  backend/auth-service/cmd/main.go
  backend/auth-service/internal/db/user_repository.go
  backend/auth-service/internal/empty.txt
  backend/auth-service/internal/handlers/signin.go
  backend/auth-service/internal/handlers/signup.go
  backend/auth-service/internal/middleware/auth.go
  backend/auth-service/internal/models/user.go
  backend/auth-service/utils/jwt.go
  backend/go.mod
  backend/go.sum
  docker-compose.yml
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/api/authAPI.js
  frontend/src/api/empty.txt
  frontend/src/api/mainAPI.js
  frontend/src/components/Protectedroute.js
  frontend/src/pages/InitialUserProfile.js
  frontend/src/pages/UserLogin.js
  frontend/src/pages/UserSignup.js
Labels: frontend, backend

#13 Added Tags
  backend/config/tags.json
  frontend/src/config/tags.json
Labels: frontend, backend

#18 Tt 58 mdp auth service to docker
  backend/Dockerfile
  backend/go.mod
  backend/profile-service/cmd/empty.txt
  backend/profile-service/internal/empty.txt
  backend/services/auth-service/Dockerfile
  backend/services/auth-service/api/routes.go
  backend/services/auth-service/cmd/main.go
  backend/services/auth-service/go.mod
  backend/services/auth-service/go.sum
  backend/services/auth-service/internal/db/database.go
  backend/services/auth-service/internal/db/user_repository.go
  backend/services/auth-service/internal/handlers/signin.go
  backend/services/auth-service/internal/handlers/signup.go
  backend/services/auth-service/internal/middleware/auth.go
  backend/services/auth-service/internal/models/user.go
  backend/services/auth-service/utils/jwt.go
  backend/services/itinerary-service/api/empty.txt
  backend/services/itinerary-service/cmd/empty.txt
  backend/services/itinerary-service/internal/empty.txt
  backend/services/itinerary-service/internal/models/event.go
  backend/services/itinerary-service/internal/models/itinerary.go
  backend/services/main-service/Dockerfile
  backend/services/main-service/api/board-db.go
  backend/services/main-service/api/database.go
  backend/services/main-service/api/events-db.go
  backend/services/main-service/api/itinerary-db.go
  backend/services/main-service/api/post-db.go
  backend/services/main-service/api/user-db.go
  backend/services/main-service/cmd/main.go
  backend/services/main-service/go.mod
  backend/services/main-service/go.sum
  backend/services/main-service/internal/empty.txt
  backend/services/profile-service/api/empty.txt
  backend/services/profile-service/cmd/empty.txt
  backend/services/profile-service/internal/empty.txt
  docker-compose.yml
Labels: CI/CD

#23 Github Code Scanner
  .github/workflows/codeql.yml
Labels: CI/CD

#14 Additional user info prompts
  backend/services/auth-service/internal/handlers/signin.go
  backend/services/auth-service/internal/handlers/signup.go
  frontend/package-lock.json
  frontend/package.json
  frontend/src/pages/InitialUserProfile.js
  frontend/src/pages/UserLogin.js
  frontend/src/pages/UserSignup.js
  frontend/src/styles/styles.css
Labels: frontend

#25 Itinerary creation page UI
  frontend/src/App.js
  frontend/src/pages/CreateItinerary.js
  frontend/src/pages/InitialUserProfile.js
  frontend/src/styles/styles.css
Labels: frontend

#26 TT 62 LG searching
  backend/services/search-service/Dockerfile
  backend/services/search-service/api/routes.go
  backend/services/search-service/cmd/main.go
  backend/services/search-service/go.mod
  backend/services/search-service/go.sum
  backend/services/search-service/internal/db/itinerary_repository.go
  backend/services/search-service/internal/db/itinerary_repository_test.go
  backend/services/search-service/internal/handlers/search.go
  backend/services/search-service/internal/middleware/auth.go
  backend/services/search-service/internal/models/event.go
  backend/services/search-service/internal/models/itinerary.go
  backend/services/search-service/test/itineraries.sql
  backend/services/search-service/test/users.sql
  backend/services/search-service/utils/jwt.go
  backend/services/search-service/wait-for-it.sh
  docker-compose.yml
  frontend/src/App.js
  frontend/src/api/searchAPI.js
  frontend/src/pages/Search.js
Labels: backend

#27 Image Storage Implementation
  backend/db/migrations/empty.txt
  backend/db/models/board-db.go
  backend/db/models/database.go
  backend/db/models/events-db.go
  backend/db/models/itinerary-db.go
  backend/db/models/post-db.go
  backend/db/models/user-db.go
  backend/db/seed/empty.txt
  backend/db/tests/testing-db.go
  backend/services/main-service/cmd/main.go
  backend/services/main-service/internal/db/models/database.go
  backend/services/main-service/internal/db/models/events-db.go
  backend/services/main-service/internal/db/models/images-db.go
  backend/services/main-service/internal/db/models/post-db.go
  backend/services/main-service/internal/db/models/user-db.go
Labels: database

#28 Tests
  backend/services/auth-service/tests/test.go
  backend/services/profile-service/tests/test.go
  backend/services/search-service/test/test.go
Labels: CI/CD

#30 Tt 32 jo itinerary creation
  .gitignore
  backend/services/itinerary-service/Dockerfile
  backend/services/itinerary-service/api/routes.go
  backend/services/itinerary-service/cmd/main.go
  backend/services/itinerary-service/go.mod
  backend/services/itinerary-service/go.sum
  backend/services/itinerary-service/internal/db/database.go
  backend/services/itinerary-service/internal/db/event-db.go
  backend/services/itinerary-service/internal/db/itin-db.go
  backend/services/itinerary-service/internal/handlers/CreateItin.go
  backend/services/itinerary-service/internal/models/event.go
  backend/services/itinerary-service/internal/models/itinerary.go
  docker-compose.yml
  frontend/src/App.js
  frontend/src/api/itineraryAPI.js
  frontend/src/pages/CreateItinerary.js
  frontend/src/pages/UserLogin.js
Labels: frontend, backend
